env/
.vscode/
.envvars
*/*.pyc
__pycache__
*.pid
*.log
*.rdb
*.md
app/__pycache__
states/*
dumps/*
app/models/__pycache__
app/controllers/__pycache__
app/tests/__pycache__
.git
schemaT.sql
spark-warehouse
data/
