venv/
env/
*.local
.envvars
.dbvars
*.pyc
*.sock
*.csv
.vscode/
.envvars
__pycache__/
app/__pycache__/
id_rsa
run_local.sh
Dockerfile.local
schemaT.sql
data/dumps/
bin/run.local
*.dump
data/*.dump
*.log
metastore_db/
matching_results.md
spark-warehouse/
data/vademecum/
